DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://user:password@host:5432/postgres"

NEXT_PUBLIC_PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
PAYPAL_BASE_URL="https://api-m.sandbox.paypal.com"

NEXT_PUBLIC_SITE_URL="https://tu-dominio.com"

RESEND_API_KEY=""
RESEND_FROM_EMAIL="SAVEN <noreply@tu-dominio.com>"
OWNER_EMAIL="propietario@email.com"
